@mixin font-design {
    strong{
        color: black;
    }
    color: #8A8C8E;
}

.loginButton {
    text-decoration: none;
    @include font-design;
    background-image: url("../images/instabg.png");
    background-repeat: no-repeat;
  background-size: auto;
    border: solid 1px #979797;
    padding: 1em;
    padding-right: 3em;
    border-radius: 10px;
}

.title {
    @include font-design;
}