/* containers */

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}

.togglePool {
  background-color: #c45c64;
  color: white;
  bottom: 0;
  width: 100%;
  height: 50vh;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.userPool {
  width: 96%;
  padding: 2%;
  height: 100%;
}

.container {
  height: 100%;
  min-height: 25vh;
  align-content: center;
}

/*  circle backdrop */

.frame-round {
  width: 5em;
  height: 5em;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 1%;
  float: left;
}

.crop img,
.fullblur img,
.halfblur img,
.thirdblur img,
.noblur img {
  display: block;
  max-height: 100%;
  margin: auto;
  position: absolute;
  top: -100%;
  right: -100%;
  bottom: -100%;
  left: -100%;
  float:left;
  
}


/*  blur settings */

.fullblur img,
.halfblur img,
.thirdblur img,
.noblur img {
  filter: blur(10px);
}

.halfblur img {
  filter: blur(5px);
}

.thirdblur img {
  filter: blur(1px);
}

.noblur img {
  filter: blur(0px);
}


/*  results */

.match-details h3,
.match-details p,
.match-details a {
  font-size: 1em;
  margin: 0;
}

.results-cropper {
  width: 10em;
  height: 10em;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 1% auto;
}

.results-profile {
  display: block;
  max-height: 100%;
  margin: auto;
  position: absolute;
  top: -100%;
  right: -100%;
  bottom: -100%;
  left: -100%;
}