/* containers */

/*  circle backdrop */

.frame-round {
  width: 5em;
  height: 5em;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 2%;
  float: left;
}

.crop img,
.fullblur img,
.halfblur img,
.thirdblur img,
.noblur img {
  display: block;
  max-height: 100%;
  margin: auto;
  position: absolute;
  top: -100%;
  right: -100%;
  bottom: -100%;
  left: -100%;
  float:left;
  
}


/*  blur settings */

.fullblur img,
.halfblur img,
.thirdblur img,
.noblur img {
  filter: blur(10px);
}

.halfblur img {
  filter: blur(5px);
}

.thirdblur img {
  filter: blur(1px);
}

.noblur img {
  filter: blur(0px);
}


/*  results */

.match-details h3,
.match-details p,
.match-details a {
  font-size: 1em;
  margin: 0;
}

.results-cropper {
  width: 10em;
  height: 10em;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 1% auto;
}

.results-profile {
  display: block;
  max-height: 100%;
  margin: auto;
  position: absolute;
  top: -100%;
  right: -100%;
  bottom: -100%;
  left: -100%;
}